@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat/montserrat-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Montserrat/montserrat-v12-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat/montserrat-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Montserrat/montserrat-v12-latin-700.woff") format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff")
      format("woff"); /* Modern Browsers */
}
@font-face {
  font-family: "Wisdom";
  src: url(../fonts/Wisdom-Script-AJ.otf);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #bbbbbb;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.page-header {
  margin-bottom: 89px;
}
.site-logo {
  display: block;
  font-family: "Wisdom", sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
  color: #fed136;
  padding: 10px 10px;
}
.nav-block {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item-link {
  display: block;
  text-decoration: none;
  line-height: 41px;
  color: #222222;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all 200ms linear;
}
.nav-item:last-child .nav-item-link {
  padding-right: 0;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #fed136;
}

/* SERVICE START*/
.service {
  text-align: center;
  padding-bottom: 117px;
}
.servise-header,
.contact-header {
  margin-bottom: 80px;
}
.subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
  color: #777777;
  margin: 0;
}
.servise-title,
.contact-title {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 9px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* .service-list-item:not(:last-child) {
  margin-right: 35px;
} */
.service-list-item {
  width: 290px;
}
.service-list-item::before {
  display: block;
  content: "";
  width: 73px;
  height: 73px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border: 4px solid #fed136;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 9px;
}
.icon-backet::before {
  background-image: url(../img/Icon-Basket.png);
}
.icon-laptop::before {
  background-image: url(../img/Icon-Laptop.png);
}
.icon-locked::before {
  background-image: url(../img/Icon-Locked.png);
}
.service-item-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 45px;
  color: #222222;
  margin: 0;
}
.service-item-text {
  font-family: "Roboto Slab", serif;
  line-height: 21px;
  color: #999999;
  margin: 0;
}
/* SERVICE END*/

/* CONTACT START */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 101px 0 115px 0;
  background-color: rgb(34, 34, 34);
  background-image: url(../img/Map-Image.png);
  background-repeat: no-repeat;
  background-position: 93% 90%;
}
.contact-title {
  color: #fff;
}
.contact-form {
  font-weight: 700;
  text-transform: uppercase;
}
.form-block {
  display: flex;
  margin-bottom: 29px;
}

.form-block input {
  width: 454px;
  height: 48px;
  margin: 0 28px 32px 0;
  padding: 0;
  padding-left: 22px;
  outline: none;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  color: #777777;
}
input:nth-last-child(1) {
  margin-bottom: 0;
}
input::placeholder,
.form-massege::placeholder {
  font: 700 14px/17px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
input:valid,
.form-massege:valid {
  outline: 2px solid green;
}
input:invalid,
.form-massege:invalid {
  outline: 2px solid red;
}
input:focus,
.form-massege:focus {
  outline: none;
}
.form-massege {
  min-width: 455px;
  min-height: 208px;
  padding: 17px 22px;
  border: none;
  outline: none;
  border-radius: 3px;
  resize: none;
  font-family: inherit;
  color: #777777;
}
.form-button {
  min-width: 240px;
  border: none;
  padding: 20px 40px;
  background-color: #fed136;
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: background-color, border, color 250ms linear;
}
.form-button:hover {
  border: 2px solid #fed136;
  color: #fed136;
  background-color: #fff;
}
/* CONTACT END */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
