@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/roboto-v18-latin-300.woff2') format('woff2'),
    url('../fonts/Roboto/roboto-v18-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/montserrat-v12-latin-700.woff2') format('woff2'),
    url('../fonts/Montserrat/montserrat-v12-latin-700.woff') format('woff');
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font: 700 18px/1.2 'Montserrat', 'Roboto', sans-serif;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 320px;
  margin: 0 auto;
}
.header-section {
  width: 320px;
  height: 540px;
  margin: 0 auto;
  background-image: url(../img/team.png);
  background-color: rgb(26, 25, 21);
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
  margin-bottom: 64px;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-header {
  margin-bottom: 121px;
}
.nav-list-item {
  display: inline-block;
}
.header-link {
  font: 700 14px/1.2 'Montserrat';
  padding: 8px 10px;
  border: 2px solid transparent;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  border: 2px solid #ffffff;
  border-radius: 18px;
}
.site-logo {
  display: inline-block;
  font: 700 20px/1.2 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 0;
  margin-bottom: 26px;
}
.logo-nav {
  display: none;
}
.header-title {
  font: 700 30px/1.2 'Montserrat';
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
}
.header-subtitle {
  width: 218px;
  font: 300 18px/1.2 'Roboto';
  margin: 0 auto;
  margin-bottom: 16px;
}
.Find-partner-link {
  display: inline-block;
  font: 700 14px/1.2 'Montserrat';
  color: #ffffff;
  text-decoration: none;
  padding: 12px 48px;
  background-color: #ff4e50;
  border-radius: 21px;
  transition: all 200ms linear;
}
.Find-partner-link:hover,
.Find-partner-link:focus {
  transition: all 200ms linear;
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff4e50;
}

/* PARTNER SECTION */
.partner {
  text-align: center;
  padding-bottom: 56px;
}
.partner-title {
  margin: 0;
  font: 700 22px/1.2 'Montserrat';
  color: #333333;
  margin-bottom: 15px;
}
.partner-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 26px;
}
.partner-list-item {
  width: 220px;
  padding: 0;
}
.partner-img {
  margin: 0 auto;
  border-radius: 50%;
}
.img-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
}
.img-icon::after {
  position: absolute;
  display: block;
  bottom: -3px;
  right: -3px;
  content: '';
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.img-icon:hover::after {
  transition: all 1s linear;
  transform: rotate(360deg);
}
.tv-icon::after {
  background-image: url(../img/tv.png);
  background-color: #ff4e50;
}
.chemist-icon::after {
  background-image: url(../img/chemist.png);
  background-color: #ffa507;
}
.cofe-icon::after {
  background-image: url(../img/cofe.png);
  background-color: #1cd7ad;
}
.airplane-icon::after {
  background-image: url(../img/airplane.png);
  background-color: #4e73db;
}
.partner-name {
  font: 700 14px/1.2 'Montserrat';
  color: #333333;
  margin: 0;
  margin-bottom: 13px;
}
.partner-descr {
  margin: 0;
  font: 300 14px/1.2 'Roboto';
}
.other-partner-link {
  display: inline-block;
  font: 700 14px/1.2 'Montserrat';
  color: #ff4e50;
  text-decoration: none;
  padding: 11px 48px;
  border: 2px solid #ff4e50;
  background-color: #fff;
  border-radius: 21px;
  transition: all 200ms linear;
}
.other-partner-link:hover,
.other-partner-link:focus {
  transition: all 200ms linear;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff4e50;
}

@media (max-width: 747px) {
  .partner-list-item:not(:last-child) {
    margin-bottom: 27px;
  }
}
@media (min-width: 748px) and (max-width: 941px) {
  .partner-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 58px;
  }
}
@media (min-width: 748px) {
  .container {
    width: 748px;
  }
  .header-section {
    width: 748px;
    background-image: url(../img/team2.png);
    background-color: rgb(26, 25, 21);
    height: 700px;
    padding-top: 46px;
    margin-bottom: 67px;
  }
  .page-header {
    margin-bottom: 145px;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
  }
  .logo-nav {
    display: block;
    margin: 0;
  }
  .logo-head {
    display: none;
  }
  .header-title {
    width: 503px;
    font-size: 52px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .header-subtitle {
    width: 400px;
    font-size: 24px;
    margin-bottom: 36px;
  }
  .Find-partner-link,
  .other-partner-link {
    padding: 11px 18px;
  }
  .partner {
    padding-bottom: 40px;
  }
  .partner-title {
    margin-bottom: 29px;
  }
  .partner-list {
    width: 490px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .partner-title {
    margin-bottom: 33px;
  }
  .other-partner-link {
    display: inline-block;
  }
}

@media (min-width: 942px) {
  .container {
    width: 942px;
  }
  .header-section {
    width: auto;
    background-image: url(../img/team3.png);
    background-color: rgb(26, 25, 21);
    background-size: cover;
  }
  .header-nav {
    padding: 0;
  }
  .partner-list {
    width: 942px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
