html{
  box-sizing: border-box
}
*,
*::before, 
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto", "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff; 
}
img{
  display:block;
  max-width: 100%;
  height: auto;
}
.wrapper{
  padding-top: 26px;
}
.container{
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
  .header{
    margin-bottom: 17px;
  }
    .logo-link{
      display: block;
      font-size: 30px;
      cursor: pointer;
      float: left;
      text-decoration: none;
      color:#555252;
      font-weight: 300;
    }
    .logo-link::first-letter{
      font-size: 30px;
      font-weight: 900;
      color: rgb(26, 188, 156);
    }
  .site-navigation{
    list-style-type: none;
    float: right;
  }  
    .nav-list{
      float: left;
      position: relative;
    }
      .nav-link{
        display: block;
        text-decoration: none;
        font-weight: 700;
        line-height: 11px;
        color: #0f0101;
        padding: 10px 16px;
      }
      .nav-link:hover,
      .nav-link:focus{
        color:#1abc9c;
      }
      .nav-list:nth-last-child(1) .nav-link{
        padding-right: 0;
      }

                                  /*START SUBMENU */
  .submenu{
    display: none;
    position: absolute;
    z-index: 1;
    width: 320px; 
    top:20px;
    left: 13px;
    list-style-type: none;
    border-top: 17px solid rgba(84, 161, 143, 0);
    background-color: rgba(240, 238, 238, 0.4);
  }  
  .submenu-item{
    width: 150px;
    background-color:rgba(84, 161, 143, 0.9);
    margin-bottom: 5px;
    line-height: 2;
    font-family: "Open Sans";
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
  }  
    .submenu-item a{
      text-decoration: none;
      color:#fff;
      padding: 7px;
      cursor: pointer;
    }
  .nav-list:hover .submenu{
    display: block;
  }                            
  .submenu-item:hover{
    background-color:rgba(60, 130, 110, 0.75);
  }                                                      
                                  /*END SUBMENU */

                                   /*START SECTION SLIDER */
.slider{
  position: relative;
  min-height:600px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 2,0.5), rgba(0, 0, 2,0.5)),
    url(../img/slide4.jpg);
}
.slider-block{
  position: absolute;
  top:45%;
   left:50%;  
  transform: translate(-50%, -50%);  
}
  .slide-caption{
    position: relative;
    left: 185px;
    display: inline-block;
    font: 900 60px/82px "Roboto";
    color: #fff;
    letter-spacing: -1.3px;
  }
    .slide-caption::before,
    .slide-caption::after{
      position: absolute;
      top:28px;
      height: 103px;
      font: 103px/1 'Pe-icon-7-stroke';
      background-color: rgba(84, 161, 143, 0.9);
      cursor: pointer;
    }
    .slide-caption::before{
      content: "\e686";
      left:-186px;
    }
    .slide-caption::after{
      content: "\e684";
      right:-186px ;
    }
    .slide-subtitle{
      display: inline-block;
      font:300 24px/54px "Roboto";
      letter-spacing: -0.43px;
      margin-left: 185px;
      color: #fff;
    }
                               /*START SECTION NEW COLLECTION */
.new-collection{
  text-align: center;
  padding-bottom: 100px;
  background: #e9f0fd;
  padding-top: 100px;
}
  .products-title{
  font: 900 48px/32px "Roboto";
  letter-spacing:-1px;
  color: #515151;
  margin-bottom: 100px;
}
.products-title::after{
  display:block;
  content:"";
  width: 165px;
  height: 7px;
  background-color:  #1abc9c;
  margin: 0 auto;
  margin-top: 36px;
}
 .collection-list{
   list-style: none;
   font-size: 0;
}
.collection-item{
  position: relative;
  display: inline-block;
}
.collection-item:not(:nth-last-child(1)){
  margin-right:30px;
}
.collection-item:hover .product-name{
  background-color: #1abc9c;
}
.collection-item:hover .product-prise{
  background-color: #7fd9c7;
}

                                /*START LIST-COLLECTION BACKGROUND */
  .card-bgr{
    position: absolute;
    opacity: 0;
    top:44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
    height: 262px;
    background-color: rgba(0, 0, 0, 0.55);
  }
   .card-block{
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 0;
  } 
   .card-item{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    float: left;
    cursor:pointer;
    list-style-type: none;
    transition: all 0.4s;
  }
  .card-item button{
   background:none;
   border:none;
   cursor: pointer;
  }
   .card-item i{
    display: inline-block;
    margin: 9px 9px;
    font-size: 30px;
    color: #fff;
  }
  .card-block .card-item:hover{
    background-color: #1abc9c;
    border:1px solid transparent;
  }
  .collection-item:hover .card-bgr{
    transition: all 0.3s linear;
   opacity: 1;
  }
  .card-item:not(:nth-last-child(1)){
    margin-right: 8px;
  }  
  .card-button{
    width: 166px;
    height: 50px;
    border:1px solid #fff;
    margin-top: 8px;
    outline: none;
    background: none;
    color: #fff;
    font:400 14px/32px "Open Sans";
    text-transform: uppercase;
    cursor: pointer;
  }
  .card-button:hover{
    background-color: rgb(50, 50, 50);
  }
  .card-button i{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-size: 30px;
    margin-right: 24px;
    color: #fff;
  }

                                     /*END LIST-COLLECTION BACKGROUND */

.product-box-descr{
  position: absolute; 
  bottom: 0;
}
.product-name,
 .product-prise{
  float: left;
  color:#fff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 40px;
}
  .product-name{
    width: 201px;
    background-color: #5c5c5c;
    padding-left:14px;
    text-align: left;
  }
  .product-prise{
    width:54px;
    background-color: #8c8c8c;
  } 

                                   /*END SECTION NEW COLLECTION */
  .footer{
    background-color: #323232;
    text-align: center;
    vertical-align: center;
    text-transform: none; 
  }
    .footer-text{
      display: inline-block;
      font-family: "Open Sans";
      font: 400 16px/28px "Open Sans";
      color: #fff;
      padding: 30px;
      letter-spacing: -0.3px;
      vertical-align: center;
    }
      .footer-text .graph{
        color: #46bfa9;
      }

.clearfix::after{
  display:table;
  content:"";
  clear:both;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
