//colors
$color-white: #fff;
$color-pink: #f38181;
$color-dark: #000;
$color-gray: #999;
$color-skyblue: #95e1d3;
$link-hover: rgb(252, 226, 138);

//fonts
$font-stack: "Roboto", "Arial", sans-serif;
$font-caption: "Kaushan Script", "Open Sans", sans-serif;
$font-Monts: "Montserrat", sans-serif;
