html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
  font-family: 'Playfair Display', "Times New Roman", serif;
  font-size: 14px;
  line-height: 24px;
}
.wrapper{
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 71px;
  padding-bottom: 70px;
}
.header{
  height: 126px;
}
.menu{
  font-size:0;
  text-align: center;
}
  .menu-list{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
  }
   .menu-list-link{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color:#626262;
    padding: 10px 25px;
  }
   .menu-list .menu-list-link:hover{
    color: #03a9f4;
  }
    .article{
      display: inline-block;
      width: 420px;
    } 
      .img-subtext{
      margin-top: 23px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-size:14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #b4ad9e;
    }
      .article-caption{
      font-size: 30px;
      line-height: 36px;
      margin-top: 19px;
      margin-bottom: 28px;
      color:#626262;
      }
      .article-text{
        color:rgb(98, 98, 98); 
        font-size: 14px;
      }
      .article:nth-child(n+3){
        margin-top: 133px;
      }
      .article:nth-child(2n){
        margin-left: 56px
      }
 .button{
   display:block;
   width: 165px;
   height: 59px;
   font-size: 20px;
   background-color: #fff;
   outline: none;
   border: 1px solid #626262;
   cursor: pointer;
   margin: 50px auto 0 auto;  
  }

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



