*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
  font-family: 'Playfair Display', sans-serif;
}
.wrapper{
  width: 1200px;
  height: 2079px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 70px;
}
.menu{
  width:572px;
  height:16px;
  margin: auto;
}
  .menu .menu-list{
    display: inline;
    float: left;
    list-style: none;
  }
   .menu-list:nth-child(2){
     margin-left: 122px;
   }
   .menu-list:nth-child(3){
      margin-left: 103px;
   }
   .menu-list:nth-child(4){
    margin-left: 93px;
   }
   .menu-list-link{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color:#626262;
  }
   .menu-list .menu-list-link:hover{
    color: #03a9f4;
  }
  .main{
    width: 900px;
    height: 1888px;
    margin: 0 auto;
    margin-top: 106px
  }
    .article{
      display: inline-block;
      width: 420px;
      height: 475px;
    } 
      .img-subtext{
      margin-top: 25px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-size:14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #b4ad9e;
    }
      .center{
        margin-top: 135px;
      }
      .bottom{
        margin-top: 141px;
      }
      .article-caption{
      font-size: 30px;
      line-height: 36px;
      margin-top: 20px;
      margin-bottom: 28px;
      color:#626262;
      }
      .article-text{
        color:rgb(98, 98, 98); 
        font-size: 14px;
        line-height: 24px;
      }
      .second{
        margin-left: 55px;
      } 
 .button{
   display: block;
   width: 165px;
   height: 59px;
   font-size: 20px;
   background-color: #fff;
   outline: none;
   border: 1px solid #626262;
   cursor: pointer;
   margin: 55px auto 0 auto;
   transition: all 1s;  
  }
  .button:hover{
    background-color: #eee;
    border-radius: 50%;
    color: #03a9f4;
  }

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



