html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto", "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.wrapper{
  width: 1110px;
  background-color: #fff; 
  margin: 0 auto;
  padding-bottom: 80px;
}
.navigation{
  display: inline-block;
  width: 1110px;
  height: 32px;
  margin-top:31px;
}
  .logo{
    float: left;
    font-size: 30px;
    cursor: pointer;
  }
  .logo .logo-link{
      text-decoration: none;
      color:#555252;
      font-weight: 300;
    }
  .logo::first-letter{
      font-size: 30px;
      font-weight: 900;
      color: rgb(26, 188, 156);
    }
  .nav-menu{
    float: right;
    list-style-type: none;
    margin-right: -14px;
  }  
     .nav-menu-list{
      float: left; 
    } 
      .nav-link{
        display: block;
        font-family: "Open Sans";
        text-decoration: none;
        font-weight: 700;
        line-height: 11px;
        color: #0f0101;
        padding: 10px 14px;
      }
      .nav-link:hover,
      .nav-link:focus{
        color:#1abc9c;
      }
                                               /* SECTION PRODUCT */                   
  .products{
    padding-top: 100px;
  }
  .products-title, .news-title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    text-align: center;
}
  .products-title::after,
  .news-title::after{
    display:block;
    content:"";
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 36px;
  }
.product-menu{
  margin-top: 92px;
  font-size: 0;
}
.product-menu-list{
  float:left;
  width: 255px;
  list-style-type: none;
}
.product-menu-list:not(:nth-child(4n)){
  margin-right:29.8px;
}
.product-menu-list:nth-child(n+5){
  margin-top: 30px;
}
.product-menu-list:hover .product-name{
  background-color: #1abc9c;
}
.product-menu-list:hover .product-prise{
  background-color: #7fd9c7;
}
.product-name{
  background-color: #323232;
  color:#fff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 40px;
  padding-left: 13px;
}
   .product-prise{
    width: 54px;
    background-color: #8c8c8c;
    float: right;
    text-align: center;
  }

                                      /* SECTION NEWS */

 .news{
   width: 1110px;
   padding-top: 101px;
 } 
  .news-list{
    margin-top: 81px;
  }
    .news-list-item:nth-of-type(n+2){
      margin-left: 29px;
    }
    .news-list-item{
      float: left;
      width: 350px;
      background-color: #fff;
      margin: 0 auto;
      list-style-type: none;
    }
  .news-article-caption{
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.1px;
    font-weight: 600;
    color: #555252;
    margin-top: 7px; 
    text-transform: none;   
  }
    .news-article-caption::after{
      display:block;
      content:"";
      width: 137px;
      height: 3px;
      background-color:  #1abc9c;
      margin-top: 9px;
    }
  .news-article-text{
    font-family: "Open Sans";
    line-height: 26px;
    letter-spacing: -0.2px;
    margin-top: 22px;
    text-transform: none;
  }
  .news-article-button{
    width: 159px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #4ec6ab;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color:#fff;
    margin-top: 11px;
    cursor: pointer;
    transition: all 0.4s;
    border: 2px solid transparent;
  }
  .news-article-button:hover{
    color:#4ec6ab;
    background-color: #fff;
    border: 2px solid #4ec6ab;
  }
  .clearfix{
    display: table;
    content: "";
    clear:both;
  }

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
