html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img{
  display:block;
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.wrapper{
  width: 1140px;
  background-color: #fff; 
  margin: 0 auto;
  padding: 31px 15px 80px 15px;
}
  .header{
    margin-bottom: 100px;
  }
  .logo-link{
    display: inline-block;
    float: left;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color:#555252;
    font-weight: 300;
  }
  .logo-link::first-letter{
      font-size: 30px;
      font-weight: 900;
      color: rgb(26, 188, 156);
    }
  .site-navigation{
    float: right;
    list-style-type: none;
  }  
    .nav-list{
      float: left; 
    } 
      .nav-link{
        display: block;
        text-decoration: none;
        font-weight: 700;
        line-height: 11px;
        color: #0f0101;
        padding: 10px 14px;
      }
      .nav-link:hover,
      .nav-link:focus{
        color:#1abc9c;
      }
      .nav-list:nth-last-child(1) .nav-link{
        padding-right: 0;
      }
                                               /* SECTION PRODUCT */                   
  .products{
    margin-bottom: 105px;
  }   
  .products-title, .news-title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    text-align: center;
}
.products-title{
  margin-bottom: 92px;
}
  .products-title::after,
  .news-title::after{
    display:block;
    content:"";
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 34px;
  }
.product-content{
  font-size: 0;
}
.product-box{
  position: relative;
  float:left;
  width: 255px;
  list-style-type: none;
  margin-bottom: 30px
}
.product-box:not(:nth-child(4n)){
  margin-right:29.8px;
}
.product-box:nth-last-child(-n+4){
  margin-bottom: 0;
}
.product-box:hover .product-name{
  background-color: #1abc9c;
}
.product-box:hover .product-prise{
  background-color: #7fd9c7;
}
  .product-box-descr{
    position: absolute;
    bottom: 0;
}
.product-name,
.product-prise{
  float: left;
  color:#fff;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 40px;
}
  .product-name{
    width: 201px;
    background-color: #5c5c5c;
    padding-left:14px;
  }
  .product-prise{
    width:54px;
    background-color: #8c8c8c;
    text-align: center;
  } 
                                      /* SECTION NEWS */

  .news-title{
    margin-bottom: 81px;
  }
    .news-article:nth-of-type(-n+2){
      margin-right: 29px;
    }
    .news-article{
      float: left;
      width: 350px;
      background-color: #fff;
      list-style-type: none;
    }
    .article-img{
      margin-bottom: 9px;
    }
  .news-article-caption{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.1px;
    font-weight: 600;
    color: #555252; 
    margin-bottom: 22px;
    text-transform: none;   
  }
    .news-article-caption::after{
      display:block;
      content:"";
      width: 137px;
      height: 3px;
      background-color:  #1abc9c;
      margin-top: 9px;
    }
  .news-article-text{
    line-height: 26px;
    letter-spacing: -0.2px;
    text-transform: none;
    margin-bottom: 11px;
  }
  .news-article-button{
    width: 159px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #4ec6ab;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s;
    border: 2px solid transparent;
  }
  .news-article-button:hover{
    background-color: #fff;
    border: 2px solid #4ec6ab;
  }
  .button-link{
    display: block;
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    padding: 10px 30px;
  }
  .news-article-button:hover .button-link{
    color:#4ec6ab;
  }
  .clearfix::after{
    display:table;
    content:"";
    clear:both;
  }

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
